body {
    margin: 5%;

    position: relative;
}

.continer {
    width: 800px;
    margin-left: auto;
    margin-right: auto;

    position: relative;
}

h1,
h2,
h3,
h4,
p {
    font-size: 24px;
    font-family: sans-serif;
}

h1,
h2,
h3 {
    color: #1098ad;
}

article {
    margin-bottom: 60px;
}

article li {
    font-size: 19px;
}

nav {
    font-size: 22px;
}

aside {
    font-size: 26px;
    border-width: 3px;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}


aside ul {
    list-style: none;
}




.main-header {
    text-align: center;
    background-color: #f7f7f7;
    border-top: 5px solid #1098ad;

}

aside {
    background-color: #f7f7f7;
    border-top: 5px solid #1098ad;
    border-bottom: 5px solid #1098ad;
    margin-bottom: 40px;
}

.related-author {
    font-size: 24px;
    font-weight: bold;
}

/* Styling liks */
nav a:link {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: underline;
    background-color: azure;

}

a:link {

    color: #1086af;
    text-decoration: none;
}

a:hover {
    color: #1049ae;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: underline dotted #041eca;
}

a:visited {
    font-style: italic;
}

a:active {
    background-color: aqua;
}

/* css selector confliects */


footer {
    background: rgb(0 0 0);
}

#foot {
    color: #1098ad;
}

.foot {
    color: #041eca;
}

.text {
    color: rgb(242, 218, 218) !important;
}

footer {
    font-size: 10px;
    color: rgb(50, 58, 59);
}

.prog-photo {
    width: 100%;
    height: auto;
}

/* images  */

.author-photo {
    position: static;
    float: inline-end;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-top: -10;
    padding: 0%;
}




/* Button */
button {
    font-size: 18px;
    padding: 10px;
    cursor: pointer;

    position: absolute;

    bottom: 50px;
    right: 0px;

    background: greenyellow;

}

button:hover {
    color: #1086af;
    background: orange;
    font-size: 20px;
}

/* Sudo element (::) */
h1::first-letter {
    font-style: normal;
    font-size: 90px;
}

h1::first-line {
    font-style: italic;
    font-size: 40px;
}

h3+p::first-line {
    color: #a008ff;

}

h2 {
    position: relative;
}

h2::after {
    content: "✨Pro";
    background: rgb(95, 95, 200);
    top: -10px;
    right: -25px;

    position: absolute;
    font-size: 16px;
    color: #ffe70e;
    cursor: pointer;

}