* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

body {

    background-color: cornflowerblue;
    color: aliceblue;
    font-family: sans-serif;


}

.continer {
    border: 8px solid #06669d;
    width: 85%;
    margin: 50px auto;
    clear: both;
}

.price {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 10px;
}

.ship {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: antiquewhite;
    font-size: 12px;
    padding: 10px;
}

h1 {
    text-align: center;
    background: rgb(90, 129, 206);
    text-transform: uppercase;

    margin-top: 0%;
    padding: 18px;
    position: relative;
}

h1::before {
    content: "SALE";
    background-color: red;
    font-size: 25px;

    position: absolute;
    top: -25px;
    left: -30px;
    cursor: pointer;
    letter-spacing: 3px;
}

h3 {
    margin-bottom: 10px;
}

/* product color choice */
div .color a:link {
    display: inline-block;
    text-decoration: none;

    margin-left: 10px;
    background: #af5151;

    height: 30px;
    width: 30px;

}

.color {
    margin-top: 70px;
}

.black {
    background: #000;
}


.black {
    background: #000;
}

.green {
    background: green;
}

.yellow {
    background: yellow;
}

.red {
    background: red;
}

.blue {
    background: blue;
}


.brown {
    background: brown;
}

/* Link properties */


a:link {
    text-transform: capitalize;
    color: blue !important;
    margin-left: 60px;
}



a:hover,
a:active {
    background-color: rgba(175, 227, 5, 0.914);
    font-size: 20px;

}

.product-detail {
    padding: 5px;
    text-decoration: underline;
    font-style: italic;
    font-weight: 700;

    cursor: pointer;

}

/* list style */
ul {
    list-style: square;
    font-size: 18px;
}

button {
    border-top: 3px solid #06669d;
    background-color: black;
    font-size: 1.5rem;
    color: chartreuse;

    width: 100%;

}

#button {

    border-top: 3px solid #06669d;
}

button:hover {
    border: none;
    background-color: cornflowerblue;
}


/* ###################
###The css box model##
######################*/

/* 1 */
/* .product-img {
    width: 285px;
    float: left;
} */

/* 2 */
/* .product-cost {
    width: 270px;
    height: 300px;
    float: left;
} */

/* 3 */
/* .product-details {
    width: 270px;
    float: right;
    height: 300px;

    padding: 20px;
    padding-top: 0px;

}

.producost-details {
    float: right;
    width: 570px;
}

.price {
    float: left;
}

.ship {
    float: right;
    cursor: pointer;
}


*/
.note {
    margin-top: 20px;
    margin-bottom: 30px;
}


/* ###################
###The css Flex     ##
######################*/
/* .row {
    display: flex;
    gap: 30px;
    justify-content: space-between;
} */

.product-img,
.product-cost,
.product-details {
    flex: 1;
}


.price-ship {
    display: flex;
    justify-content: space-between;
}


/*########################
### The CSS GRID Layout ##
##########################*/
.continer {
    display: grid;
    grid-template-columns: 300px 1fr 1fr;
    column-gap: 50px;
}

h1 {
    grid-column: 1/-1;
}

button {
    grid-column: 1/-1;
}